:root {
	--font-h1: clamp(2.5rem, 1.9146rem + 2.9268vw, 4rem);
	--font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.8125rem);
	--font-h3: clamp(1.375rem, 1.1837rem + 0.8163vw, 2rem);
	--font-h4: clamp(1.375rem, 1.1837rem + 0.8163vw, 1.6rem);
	--font-h5: clamp(1rem, 0.9235rem + 0.3265vw, 1.25rem);
	--font-h6: clamp(1rem, 0.9617rem + 0.1633vw, 1.125rem);
	--font-body: clamp(1rem, 0.8852rem + 0.4898vw, 1.375rem);
}

h1 {
	font-size: var(--font-h1);
	line-height: 115%;
}
h2 {
	font-size: var(--font-h2);
	line-height: 100%;
}
h3 {
	font-size: var(--font-h3);
	line-height: 100%;
}
h4 {
	font-size: var(--font-h4);
	line-height: 100%;
}
h5 {
	font-size: var(--font-h5);
	line-height: 100%;
}
h6 {
	font-size: var(--font-h6);
	line-height: 100%;
}
body {
	font-size: var(--font-body);
	line-height: 150%;
}
.dark .text-gradient {
	fill: linear-gradient(
		180deg,
		theme("colors.dt-teal-solid-color-button") 0%,
		theme("colors.dt-amber-solid-color-button") 100%
	);
}
.text-gradient {
	background: linear-gradient(
		180deg,
		theme("colors.lt-indigo-solid-color-button") 0%,
		theme("colors.lt-grimsom-solid-color-button") 100%
	);
}
.dark .logo-gradient {
	fill: linear-gradient(
		180deg,
		theme("colors.dt-teal-solid-color-button") 0%,
		theme("colors.dt-amber-solid-color-button") 100%
	);
}
.logo-gradient {
	fill: linear-gradient(
		180deg,
		theme("colors.lt-indigo-solid-color-button") 0%,
		theme("colors.lt-grimsom-solid-color-button") 100%
	);
}
section:first-of-type {
	min-height: calc(100vh - 40px - 32px);
}

.hover\:shadow-outline:hover {
	box-shadow: 0 0 16px -2px theme("colors.lt-indigo-interactive-component");
}
html.dark .hover\:shadow-outline:hover {
	box-shadow: 0 0 16px -2px theme("colors.dt-teal-interactive-component");
}
/* body::before{
  content: "";
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0s;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right bottom, #D2DEFF 0%, #F7F9FF 100%);
  background-size: cover;
  transition: background 0.5s ease;
  z-index: 0;
}
.dark body::before{
  background: linear-gradient(to right bottom,#0D2D2A 0%,#0D1514  100%);
  background-size: cover;
} */
