---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import About from "@components/sections/About.astro";
import Skills from "@components/sections/Skills.astro";
import Projects from "@components/sections/Projects.astro";
import Contact from "@components/sections/Contact.astro";
---

<Layout title="Welcome to Romain Blary's personal site">
  <Header/>  
  <main>
    <h1>Romain Blary</h1>
    <About/>
    <Skills/>
    <Projects/>
    <Contact/>
  </main>
  <Footer />
</Layout>
