---
import Socials from "../components/Socials.astro";
---

<footer>
  <p class="font-bold">Built and designed by me, Romain Blary</p><p>
    © Copyright 2022 - Romain Blary
  </p>
  <Socials />
</footer>
